
/* --- Global settings ---*/

html, body
{
  height: 100%;
  width: 100%;
  background: #f7f8f8;
  font-family: 'Montserrat', arial;
}

.btn-primary
{
  background: rgb( 255, 222, 89 );
  border-color: rgb( 255, 222, 89 );
}

.btn-primary:hover
{
  background: rgb(230, 200, 79);
  border-color: rgb(230, 200, 79);
}

.card-warning:not( .card-outline ) > .card-header
{
    background-color: rgb(230, 200, 79);
    border-bottom: 0;
}

.card-background-color
{
  background-color: #aaaaaa;
  color: #FFFFFF;
}

.filtros-card-background
{
  background-color: #ffde59;
  color: #FFFFFF;
}

.vertial-content-align
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator
{
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before, .separator::after
{
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator::before
{
  margin-right: .25em;
}

.separator::after
{
  margin-left: .25em;
}

/* --- Inicio Secciones --- */

/* --- Sidebar --- */

.image img
{
  height: 150px;
  width: 150px;
}

.sidebar-profile
{
  margin-left: 30px;
}

/* --- Navbar --- */

.bottom-navbar
{
  position: fixed;
  width: 100vw;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #aaaaaa;
  display: flex;
  overflow-x: auto;
}

.nav-item-botom
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav-item-botom:hover
{
  background-color: #aaaaaa;
}

.active
{
  color: #e6c84f;
}

.active:hover
{
  color: #e6c84f;
}

.nav__icon
{
  font-size: 18px;
}

.navbar-brand
{
  position: relative;
}

.instructions
{
  background-color: #aaaaaa;
  color: #FFFFFF;
  text-align: center !important;
  align-items: center;
}

/* --- Scanner --- */

.item-nav
{
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: 2px solid;
  margin-bottom: 10px;

}

.title-scanner
{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.options-container
{
  align-items: center;
  text-align: center;
}

.code-container
{
  padding: 1% 1% 1% 1%;
  cursor: pointer;
  border: 1px solid;
}

.code-container > input[type=file]
{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.image-container
{
  padding: 1% 1% 1% 1%;
  cursor: pointer;
}

.image-container > input[type=file]
{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.linea
{
  margin: 0px 20px;
  width: 47%;
  border-top: 1px solid #999;
  position: relative;
  top: 10px;
  float: left;
}

.leyenda
{
  font-weight: bold;
  float: left;
}

.photo-button-delete
{
  height: 100px;
  vertical-align: middle;
}

.btn-radius
{
  border-radius: 50px;
}


/* --- Fin Secciones --- */


/* --- Media Querys --- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
{
  .navbar-brand
  {
    left: 43%;
  }

  .code-container
  {
    padding: 3% 4% 3% 4%;
  }

  .scanner-instructions
  {
    font-size: 13px;
  }

  .linea
  {
    width: 34%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{
  .navbar-brand
  {
    left: 45%;
  }

  .code-container
  {
    padding: 3% 4% 3% 4%;
  }

  .linea
  {
    width: 34%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)
{
  .navbar-brand
  {
    left: 47%;
  }

  .code-container
  {
    padding: 2% 2% 2% 2%;
  }

  .linea
  {
    width: 42%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px)
{
  .navbar-brand
  {
    left: 47%;
  }

  .code-container
  {
    padding: 2% 2% 2% 2%;
  }

  .linea
  {
    width: 44%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  .navbar-brand
  {
    left: 47%;
  }

  .code-container
  {
    padding: 2% 2% 2% 2%;
  }

  .linea
  {
    width: 46%;
  }
}
