
/* --- Global settings ---*/

html, body
{
  height: 100%;
  width: 100%;
}

/* --- Navbar settings ---*/

.navbar
{
  padding: .8rem;
}

.nav-link
{
  color: white;
}

.navbar-brand
{
  padding-left: 50px;
}

.navbar-nav
{
  padding-right: 50px;
}

.navbar-nav li
{
  padding-right: 20px;
}

.nav-link
{
  font-size: 1.1em;
}

/* --- Carousel settings ---*/

.carousel-caption
{
  position: absolute;
  top: 80%;
}

/* --- Carousel images ---*/

.image-content
{
  position:relative;
  width: 100%;
  display:inline-block;
}

.image-content:after
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;

  /* FF3.6+ */
  background: -moz-linear-gradient( top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100% );
  /* Chrome, Safari4+ */
  background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba(0, 0, 0, 0.5) ), color-stop( 100%, rgba(0, 0, 0, 0.5) ) );
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%);
}

.image-content img
{
  display:block;
}



/* --- Nosotros settins ---*/

#nosotros
{
  background: #f7f8f8;
}




/* --- Media Querys --- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
{

  /* --- Navbar settings ---*/

  .navbar-brand
  {
    padding-left: 0px;
    width: 180px;
  }

  #navbarSupportedContent
  {
    background: white;
  }

  .nav-link
  {
    font-size: 1.1em;
    padding-left: 10%;
    color: black !important;
  }

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 70vh;
  }

  .carousel-caption h1
  {
    font-size: 150%;
  }

  .carousel-caption p
  {
    font-size: 90%;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{

  /* --- Navbar settings ---*/

  #navbarSupportedContent
  {
    background: white;
  }

  .nav-link
  {
    font-size: 1.1em;
    padding-left: 10%;
    color: black !important;
  }

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 80vh;
  }

  .carousel-caption h1
  {
    font-size: 200%;
  }

  .carousel-caption p
  {
    font-size: 100%;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)
{

  #navbarSupportedContent
  {
    background: white;
  }

  .nav-link
  {
    font-size: 1.1em;
    padding-left: 10%;
    color: black !important;
  }

  .navbar-nav li
  {
    padding-right: 20px;
  }


  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 80vh;
  }

  .carousel-caption h1
  {
    font-size: 180%;
  }

  .carousel-caption p
  {
    font-size: 90%;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px)
{

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 100vh;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

  /* --- Global settings --- */

  html, body
  {
    height: 100%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 100vh;
  }

  .carousel-caption h1
  {
    font-size: 400%;
  }

  .carousel-caption p
  {
    font-size: 200%;
  }

}
